<h1>New Task View</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.label :completed %>
  <%# Don't need a checkbox here %>
  <%# <%= f.check_box :completed%>
  <%= f.submit %>
<% end %>

<%# <form action="create">
  <label for="task-name">Task</label>
  <input type="text" name="task-name" id="task-name">
  <label for="task-details">Details</label>
  <input type="text" name="task-details" id="task-details">
  <label for="task-completed">Completed</label>
  <input type="checkbox" name="task-completed" id="task-completed">
  <input type="submit" value="Send">
</form> %>
